:root {
  //Primary Color
  --c-blue: #0a317b;
  --c-red: #f65351;

  // Neutral Color
  --c-white: #ffffff;
  --vl-grayish-blue: #f7fafd;
  --l-grayish-blue1: #e5effa;
  --l-grayish-blue2: #dde7ee;
  --grayish-blue: #939dae;
  --d-grayish-blue: #5e6778;
  --vd-grayish-blue: #1c202b;
}